@import '../../../@theme/styles/themes';

@include nb-install-component() {
  nb-card {
    transform: translate3d(0, 0, 0);
  }
}

.title {
  color: #fff;
  background-color: rgba(254, 87, 22, 0.75) !important;
}

::ng-deep nb-tabset .tab.active .tab-link {
  color: rgba(0, 91, 189, 0.75) !important;
}

::ng-deep nb-tabset .tab.active .tab-link::before {
  background-color: rgba(0, 91, 189, 0.75) !important;
}