@import '../@theme/styles/themes';

@include nb-install-component() {
  ::ng-deep router-outlet + * {
    display: block;
    animation: fade 1s;

    @keyframes fade {
      from {
        opacity: 0;
      }

      to {
        opacity: 1;
      }
    }
  }
  $vert: #00d68f;
  $bleu-fonce: hsla(211,100%,37%,.75);
  $orange: hsla(17,99%,54%,.75);
  $bleu-clair: hsla(212,73%,59%,.75);
  $blanc: #fff;
  
  ::ng-deep button.status-primary {
    background-color: $vert !important;
    border-color: $vert !important;
  }
  ::ng-deep .nb-theme-corporate nb-menu .menu-item > .menu-items > .menu-item a.active {
    color: $bleu-fonce !important;
  }

  ::ng-deep nb-menu .menu-item a.active {
    color: $bleu-fonce;
    .menu-icon {
      color: $bleu-fonce;
    }
    &::before {
      background: $bleu-fonce !important;
    }
  }

  ::ng-deep nb-card-header {
    background-color: $orange !important;
    border-bottom: 1px solid  $orange !important;
    color: $blanc;
     .h5 {
      color: $blanc;
    }
    h5 {
      color: $blanc;
    }
  }
}
