<h1>Rapport</h1>

<nb-card>
  <nb-card-header>Constats</nb-card-header>
  <nb-card-body>
    <ng2-smart-table [settings]="settingsConstat" [source]="constats">
    </ng2-smart-table>
  </nb-card-body>
</nb-card>

<nb-card>
  <nb-card-header>PDF</nb-card-header>
  <nb-card-body>
    <ng2-smart-table [settings]="settingsPdf" [source]="pdfs">
    </ng2-smart-table>
  </nb-card-body>
</nb-card>

<nb-card>
  <nb-card-header>Di82</nb-card-header>
  <nb-card-body>
    <ng2-smart-table [settings]="settingsDi82" [source]="di82s">
    </ng2-smart-table>
  </nb-card-body>
</nb-card>

<nb-card>
  <nb-card-header>Ouverture/Fermeture Chantier</nb-card-header>
  <nb-card-body>
    <ng2-smart-table [settings]="settingsChantier" [source]="chantiers">
    </ng2-smart-table>
  </nb-card-body>
</nb-card>

<nb-card>
  <nb-card-header>ADR Incendie 2ème niveau</nb-card-header>
  <nb-card-body>
    <ng2-smart-table [settings]="settingsAdr" [source]="adrs">
    </ng2-smart-table>
  </nb-card-body>
</nb-card>

<nb-card>
  <nb-card-header>Ouverture/Fermeture de Plancher</nb-card-header>
  <nb-card-body>
    <ng2-smart-table [settings]="settingsPlancher" [source]="planchers">
    </ng2-smart-table>
  </nb-card-body>
</nb-card>

<nb-card>
  <nb-card-header>Consignes</nb-card-header>
  <nb-card-body>
    <ng2-smart-table [settings]="settingsConsigne" [source]="consignes">
    </ng2-smart-table>
  </nb-card-body>
</nb-card>
