<nb-card>
  <nb-card-body class="p-0">
    <nb-tabset>
      <nb-tab class="p-0" tabTitle="Poste en cours">
        <div class="m-2 border rounded">
          <div class="row p-3">
            <div class="col-md-4">
              <span><b>Date: </b></span>
              <span>{{ posteInProgress.date | date: "mediumDate" }}</span>
            </div>
            <div class="col-md-4">
              <span><b>Poste: </b></span>
              <span>{{ posteInProgress.label }}</span>
            </div>
            <div class="col-md-4">
              <button nbButton status="primary" [routerLink]="['constat']">
                Créer un Constat
              </button>
            </div>
          </div>
          <div class="row p-3">
            <div class="col-md-6">
              <span><b>Constat: </b></span>
            </div>
          </div>
          <nb-list *ngIf="posteInProgress.constats.length > 0">
            <nb-list-item *ngFor="let constat of posteInProgress.constats">
              <div class="col-md-3">
                {{ constat.date | date: "mediumDate" }}
              </div>
              <div class="col-md-7">
                {{ constat.description }}
              </div>
              <div class="col-md-2">
                <button
                  nbButton
                  status="primary"
                  [routerLink]="['constat', constat.id]"
                >
                  Détails
                </button>
              </div>
            </nb-list-item>
          </nb-list>
          <nb-list *ngIf="posteInProgress.constats.length == 0">
            <nb-list-item>
              <div class="col-md-12">
                Pas de constats signalés pendant ce poste
              </div>
            </nb-list-item>
          </nb-list>
        </div>
      </nb-tab>

      <nb-tab class="p-0" tabTitle="Historique">
        <div
          class="m-2 border rounded"
          *ngFor="let posteFinished of postesFinished"
        >
          <div class="row p-3">
            <div class="col-md-4">
              <span><b>Date: </b></span>
              <span>{{ posteFinished.date | date: "mediumDate" }}</span>
            </div>
            <div class="col-md-4">
              <span><b>Poste: </b></span>
              <span>{{ posteFinished.label }}</span>
            </div>
          </div>
          <div class="row p-3">
            <div class="col-md-6">
              <span><b>Constat: </b></span>
            </div>
          </div>
          <nb-list *ngIf="posteFinished.constats.length > 0">
            <nb-list-item *ngFor="let constat of posteFinished.constats">
              <div class="col-md-3">
                {{ constat.date | date: "mediumDate" }}
              </div>
              <div class="col-md-7">
                {{ constat.description }}
              </div>
              <div class="col-md-2">
                <button
                  nbButton
                  status="primary"
                  [routerLink]="['constat', constat.id]"
                >
                  Détails
                </button>
              </div>
            </nb-list-item>
          </nb-list>
          <nb-list *ngIf="posteFinished.constats.length == 0">
            <nb-list-item>
              <div class="col-md-12">Pas d'historique sur ce poste</div>
            </nb-list-item>
          </nb-list>
        </div>
      </nb-tab>
    </nb-tabset>
  </nb-card-body>
</nb-card>
