<nb-card>
  <nb-card-body class="p-0">
    <nb-tabset>
      <nb-tab class="p-0" tabTitle="Poste en cours">
        <div class="row p-3">
          <div class="col-md-4">
            <span><b>Date: </b></span>
            <span>30/12/2020</span>
          </div>
          <div class="col-md-4">
            <span><b>Poste: </b></span>
            <span>Matin</span>
          </div>
          <div class="col-md-4">
            <button nbButton status="primary" [routerLink]="['constat']">
              Créer un Constat
            </button>
          </div>
        </div>
        <div class="row p-3">
          <div class="col-md-6">
            <span><b>Constat: </b></span>
          </div>
        </div>
        <nb-list>
          <nb-list-item>
            <div class="col-md-3">
              Vendredi 12 décembre à 12h45
            </div>
            <div class="col-md-7">
              Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
              industry's standard dummy text ever since the 1500s
            </div>
            <div class="col-md-2">
              <button nbButton status="primary">
                Détails
              </button>
            </div>
          </nb-list-item>
          <nb-list-item>
            <div class="col-md-3">
              Vendredi 12 décembre à 12h45
            </div>
            <div class="col-md-7">
              Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
              industry's standard dummy text ever since the 1500s
            </div>
            <div class="col-md-2">
              <button nbButton status="primary">
                Détails
              </button>
            </div>
          </nb-list-item>
          <nb-list-item>
            <div class="col-md-3">
              Vendredi 12 décembre à 12h45
            </div>
            <div class="col-md-7">
              Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
              industry's standard dummy text ever since the 1500s
            </div>
            <div class="col-md-2">
              <button nbButton status="primary">
                Détails
              </button>
            </div>
          </nb-list-item>
          <nb-list-item>
            <div class="col-md-3">
              Vendredi 12 décembre à 12h45
            </div>
            <div class="col-md-7">
              Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
              industry's standard dummy text ever since the 1500s
            </div>
            <div class="col-md-2">
              <button nbButton status="primary">
                Détails
              </button>
            </div>
          </nb-list-item>
        </nb-list>
      </nb-tab>

      <nb-tab tabTitle="Historique">

      </nb-tab>

    </nb-tabset>
  </nb-card-body>
</nb-card>