<nb-card>
  <nb-card-header>
    <div class="d-flex justify-content-between">
      <div class="h5">Poste en cours</div>
      <button nbButton status="primary" [routerLink]="['constat']">
        Créer un Constat
      </button>
    </div>
  </nb-card-header>
  <nb-card-body>
    <div class="row pt-2 pb-2">
      <div class="col-md-6">
        <span><b>Poste: </b></span>
        <span>Matin</span>
      </div>
      <div class="col-md-6">
        <span><b>Date: </b></span>
        <span>30/12/2020</span>
      </div>
    </div>

    <nb-accordion class="shadow-none">
      <nb-accordion-item #constat>
        <nb-accordion-item-header class="border-0 pl-0">
          Constats
        </nb-accordion-item-header>
        <nb-accordion-item-body>
          <nb-list>
            <nb-list-item>
              <div class="col-md-7">
                <b>Description:</b>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
              </div>
              <div class="col-md-3">
                Vendredi 12 décembre à 12h45      
              </div>
  
              <div class="col-md-2">
                <button nbButton status="primary" >
                   Détails
                </button>
              </div>
            </nb-list-item>
            <nb-list-item>
              <div class="col-md-7">
                <b>Description:</b>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
              </div>
              <div class="col-md-3">
                Vendredi 12 décembre à 12h45      
              </div>
  
              <div class="col-md-2">
                <button nbButton status="primary" >
                  Détails
                </button>
              </div>
            </nb-list-item>
            <nb-list-item>
              <div class="col-md-7">
                <b>Description:</b>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
              </div>
              <div class="col-md-3">
                Vendredi 12 décembre à 12h45      
              </div>
  
              <div class="col-md-2">
                <button nbButton status="primary" >
                  Détails
                </button>
              </div>
            </nb-list-item>
            <nb-list-item>
              <div class="col-md-7">
                <b>Description:</b>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
              </div>
              <div class="col-md-3">
                Vendredi 12 décembre à 12h45      
              </div>
  
              <div class="col-md-2">
                <button nbButton status="primary" >
                  Détails
                </button>
              </div>
            </nb-list-item>
          </nb-list>
        </nb-accordion-item-body>
      </nb-accordion-item>
    </nb-accordion>
  </nb-card-body>
</nb-card>

<nb-card>
  <nb-card-header>
    <div class="d-flex justify-content-between">
      <div class="h5">Historiques</div>
    </div>
  </nb-card-header>
  <nb-card-body class="p-0">
    <nb-list>
      <nb-list-item>
        <div style="width: 100%">
          <div class="row pt-2 pb-2">
            <div class="col-md-6">
              <span><b>Poste: </b></span>
              <span>Matin</span>
            </div>
            <div class="col-md-6">
              <span><b>Date: </b></span>
              <span>30/12/2020</span>
            </div>
          </div>

          <nb-accordion class="shadow-none">
            <nb-accordion-item #constat>
              <nb-accordion-item-header class="border-0 pl-0">
                Constats
              </nb-accordion-item-header>
              <nb-accordion-item-body>
                <nb-list>
                  <nb-list-item>
                    <div class="col-md-7">
                      <b>Description:</b>
                      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
                    </div>
                    <div class="col-md-3">
                      Vendredi 12 décembre à 12h45      
                    </div>
        
                    <div class="col-md-2">
                      <button nbButton status="primary" >
                         Détails
                      </button>
                    </div>
                  </nb-list-item>
                  <nb-list-item>
                    <div class="col-md-7">
                      <b>Description:</b>
                      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
                    </div>
                    <div class="col-md-3">
                      Vendredi 12 décembre à 12h45      
                    </div>
        
                    <div class="col-md-2">
                      <button nbButton status="primary" >
                        Détails
                      </button>
                    </div>
                  </nb-list-item>
                  <nb-list-item>
                    <div class="col-md-7">
                      <b>Description:</b>
                      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
                    </div>
                    <div class="col-md-3">
                      Vendredi 12 décembre à 12h45      
                    </div>
        
                    <div class="col-md-2">
                      <button nbButton status="primary" >
                        Détails
                      </button>
                    </div>
                  </nb-list-item>
                  <nb-list-item>
                    <div class="col-md-7">
                      <b>Description:</b>
                      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
                    </div>
                    <div class="col-md-3">
                      Vendredi 12 décembre à 12h45      
                    </div>
        
                    <div class="col-md-2">
                      <button nbButton status="primary" >
                        Détails
                      </button>
                    </div>
                  </nb-list-item>
                </nb-list>
              </nb-accordion-item-body>
            </nb-accordion-item>
          </nb-accordion>
        </div>
      </nb-list-item>
      <nb-list-item>
        <div style="width: 100%">
          <div class="row pt-2 pb-2">
            <div class="col-md-6">
              <span><b>Poste: </b></span>
              <span>Matin</span>
            </div>
            <div class="col-md-6">
              <span><b>Date: </b></span>
              <span>30/12/2020</span>
            </div>
          </div>

          <nb-accordion class="shadow-none">
            <nb-accordion-item #constat>
              <nb-accordion-item-header class="border-0 pl-0">
                Constats
              </nb-accordion-item-header>
              <nb-accordion-item-body>
                <nb-list>
                  <nb-list-item>
                    <div class="col-md-7">
                      <b>Description:</b>
                      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
                    </div>
                    <div class="col-md-3">
                      Vendredi 12 décembre à 12h45      
                    </div>
        
                    <div class="col-md-2">
                      <button nbButton status="primary" >
                         Détails
                      </button>
                    </div>
                  </nb-list-item>
                  <nb-list-item>
                    <div class="col-md-7">
                      <b>Description:</b>
                      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
                    </div>
                    <div class="col-md-3">
                      Vendredi 12 décembre à 12h45      
                    </div>
        
                    <div class="col-md-2">
                      <button nbButton status="primary" >
                        Détails
                      </button>
                    </div>
                  </nb-list-item>
                  <nb-list-item>
                    <div class="col-md-7">
                      <b>Description:</b>
                      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
                    </div>
                    <div class="col-md-3">
                      Vendredi 12 décembre à 12h45      
                    </div>
        
                    <div class="col-md-2">
                      <button nbButton status="primary" >
                        Détails
                      </button>
                    </div>
                  </nb-list-item>
                  <nb-list-item>
                    <div class="col-md-7">
                      <b>Description:</b>
                      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
                    </div>
                    <div class="col-md-3">
                      Vendredi 12 décembre à 12h45      
                    </div>
        
                    <div class="col-md-2">
                      <button nbButton status="primary" >
                        Détails
                      </button>
                    </div>
                  </nb-list-item>
                </nb-list>
              </nb-accordion-item-body>
            </nb-accordion-item>
          </nb-accordion>
        </div>
      </nb-list-item>
    </nb-list>
  </nb-card-body>
</nb-card>
