

.progress-circle {
  position: relative;

  // @include media-below($screen__sm) {
  //   transform: scale(.8);
  // }

  svg {
    transform: rotate(-90deg);
  }

  &__background {
    stroke: #d8d1ca;
    fill: #dedede;
  }

  &__meter {
    stroke: green;
    transition: stroke-dashoffset 1s;
  }

  &__icon {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}
