<nb-card>
  <nb-card-header>
    <div class="row">
    <div class="col-md-8">
      Fiches de liaison
    </div>
    <div class="col-md-4">
      <button nbButton status="primary" >
        Ajouter un document
     </button>
    </div>
  </div>
  </nb-card-header>
  <nb-card-body>
    <nb-list>
      <nb-list-item>
          <div class="col-md-9">
            Fiche de liaison description
          </div>
          <div class="col-md-3">
            <button nbButton status="primary">
              Afficher
           </button>
          </div>
      </nb-list-item>
      <nb-list-item>
        <div class="col-md-9">
          Fiche de liaison description
        </div>
        <div class="col-md-3">
          <button nbButton status="primary">
            Afficher
         </button>
        </div>
    </nb-list-item>
    <nb-list-item>
      <div class="col-md-9">
        Fiche de liaison description
      </div>
      <div class="col-md-3">
        <button nbButton status="primary">
          Afficher
       </button>
      </div>
  </nb-list-item>
    </nb-list>
  </nb-card-body>
</nb-card>