<div class="row">
  <div class="col-md-6">
    <ngx-status-card [title]="'Fiche de Liaison'" [type]="'primary'">
      1
    </ngx-status-card>
  </div>
  <div class="col-md-6">
    <ngx-status-card [title]="'Consignes RZ'" [type]="'warning'">
      1
    </ngx-status-card>
  </div>
  <div class="col-md-6">
    <ngx-status-card [title]="'Constat en cours'" [type]="'danger'">
      4
    </ngx-status-card>
  </div>
  <div class="col-md-12">
    <nb-card>
      <nb-card-header><h5>Faits Marquant</h5></nb-card-header>
      <nb-card-body class="p-0">
        <nb-list>
          <nb-list-item>
            <div class="col-md-3">
              Vendredi 12 décembre à 12h45      
            </div>
            <div class="col-md-7">
              Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
            </div>
            <div class="col-md-2">
              <button nbButton status="primary" >
                 Détails
              </button>
            </div>
          </nb-list-item>
          <nb-list-item>
            <div class="col-md-3">
              Vendredi 12 décembre à 12h45      
            </div>
            <div class="col-md-7">
              Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
            </div>
            <div class="col-md-2">
              <button nbButton status="primary" >
                 Détails
              </button>
            </div>
          </nb-list-item>
          <nb-list-item>
            <div class="col-md-3">
              Vendredi 12 décembre à 12h45      
            </div>
            <div class="col-md-7">
              Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
            </div>
            <div class="col-md-2">
              <button nbButton status="primary" >
                 Détails
              </button>
            </div>
          </nb-list-item>
          <nb-list-item>
            <div class="col-md-3">
              Vendredi 12 décembre à 12h45      
            </div>
            <div class="col-md-7">
              Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
            </div>
            <div class="col-md-2">
              <button nbButton status="primary" >
                 Détails
              </button>
            </div>
          </nb-list-item>
        </nb-list>
      </nb-card-body>
    </nb-card>
  </div>
</div>
