<div class="row">
  <div class="col-md-6">
    <ngx-status-card [title]="'Point sur larret'" [type]="'primary'">
      1
    </ngx-status-card>
  </div>
  <div class="col-md-6">
    <ngx-status-card [title]="'Consignes'" link="/pages/consignes-en-cours" [type]="'success'">
      {{consignesInProgress.length}}
    </ngx-status-card>
  </div>
  <div class="col-md-6">
    <ngx-status-card [title]="'Constat en cours'" link="/pages/constats-en-cours" [type]="'info'">
      {{constatsInProgress.length}}
    </ngx-status-card>
  </div>
  <div class="col-md-6">
    <ngx-status-card [title]="'Point Materiel'" link="/pages/point-materiel-en-cours" [type]="'warning'">
      {{materielsInProgress.length}}
    </ngx-status-card>
  </div>
  <div class="col-md-12" *ngIf="constatsMarquant.length > 0">
    <nb-card>
      <nb-card-header><h5>Faits Marquant</h5></nb-card-header>
      <nb-card-body class="p-0">
        <nb-list>
          <nb-list-item *ngFor="let constat of constatsMarquant">
            <div class="col-md-3">
              {{constat.date | date:'mediumDate'}}     
            </div>
            <div class="col-md-7">
              {{constat.description}}     
            </div>
          </nb-list-item>
        </nb-list>
      </nb-card-body>
    </nb-card>
  </div>
</div>
